$button-pressed-background: #0fc7ff;
.button-group {
  .label {
    margin-right: 0.5rem;
  }
  .button {
    padding: 0.5rem 0.75rem;
    border: 1px solid #aeb6c6;
    margin: 0;
    color: black;
    background-color: #ffffff;
    &-yes {
      border-radius: 5px 0 0 5px;
    }
    &-no {
      border-radius: 0 5px 5px 0;
    }
    &-pressed {
      background-color: $button-pressed-background;
      border: $button-pressed-background;
      box-shadow: inset 00 5px 0 rgba(0, 0, 0, 0.2);
    }
  }
}
